<style>
  [data-rotate] {
    --rotate: 0deg;
    transition: transform 1s ease-in-out;
    transform: rotate(var(--rotate));
    border-radius: 10px;
  }

  [data-rotate="1"] {
    --rotate: 90deg;
  }
  
  [data-rotate="2"] {
    --rotate: 180deg;
  }
  
  [data-rotate="3"] {
    --rotate: 270deg;
  }
  
  [data-rotate="4"] {
    --rotate: 360deg;
  }
</style>

<script>
  document.querySelectorAll('[data-rotate]').forEach(e => {
    e.addEventListener('click', (event) => {
      const data = event.target.dataset;
      data.rotate = (Number(data.rotate) + 1) % 5;
    });
  });
</script>
